<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {# Load local resources if debug is True and IP in settings.INTERNAL_IPS else use CDN ones #}
    {% if debug %}
    <link rel="stylesheet" href="/static/fonts/material-iconfont/material-design-icons.css">
    <link rel="stylesheet" href="/static/css/materialize.css">
    {% else %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    {% endif %}

    <link rel="stylesheet" href="/static/css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <ul id="dropdown_profile" class="dropdown-content">
        <li><a href="{{ url('profile') }}" class="light-blue-text text-darken-2">View</a></li>
        <li class="divider"></li>
        <li><a href="{{ url('logout') }}" class="light-blue-text text-darken-2">Log out</a></li>
    </ul>
    <header><div class="navbar-fixed"><nav>
        <div class="light-blue darken-2 nav-wrapper">
            {% block navbar %}
            <a href="#" class="brand-logo">AtomMail</a>
            {% endblock %}
            <ul class="right">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown_profile">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav></div></header>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    {% block scripts %}
    {% if debug %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/materialize.js"></script>
    {% else %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="/static/js/app.js"></script>
    {% endblock %}
</body>

</html>

{# Useful macros #}
{% macro insert_pickadate() -%}
<script>
    $('.datepicker').pickadate({
        formatSubmit: 'yyyy-mm-dd',
        hiddenName: true,
        onOpen: function() { this.set('min', new Date()); },
        onClose: function() { this.set('min', false); },
        onSet: function( arg ) {
            if ( 'select' in arg || 'clear' in arg ) {
                checkInput();
                this.close();
            }
        }
    })
</script>
{%- endmacro %}