{% extends "_template.html" %}
{% block title %} Log in {% endblock %}

{% block content %}
<div class="row">
    <form action="{{ url('auth') }}" method="POST" class="col s12">
      {{ csrf_input }}
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div id="auth-name" class="auth-name col s12 hide">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" name="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" name="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <input id="age" name="age" type="number" class="validate" min="12" max="228">
            <label for="age">Age</label>
          </div>
          <div class="input-field col s3">
            <input id="region" name="region" type="text" class="validate">
            <label for="region">Region</label>
          </div>
          <div class="input-field col s6">
            <input id="phone" name="phone" type="text" class="validate">
            <label for="phone">Phone</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <button id="submit_btn" type="submit" class="btn waves-effect waves-light deep-orange accent-2 right disabled">Log in</button>
    </form>
  </div>
{% endblock %}

{% block head %}
{{ super() }}
<style>
.nav-wrapper>a.brand-logo {left: 50%; transform: translateX(-50%);}
.nav-wrapper>ul.right {display: none;}
</style>
{% endblock %}
