{% from "_template.html" import insert_pickadate %}
{% extends "_template.html" %}
{% block title %} Roadmap: {{ title }} {% endblock %}

{% block navbar %}
<div class="col s12">
    <a href="{{ url('roadmaps') }}" class="breadcrumb">Roadmaps</a>
    <a href="{{ url('roadmap', args=[id]) }}" class="breadcrumb">{{ title }}</a>
    <ul class="right">
        <a stat-url="{{ url('rm_stat', args=[id]) }}" href="#modal_stat" id="stats_btn" class="modal-trigger btn-flat waves-effect white-text">Stat</a>
        <a href="{{ url('roadmaps') }}" id="delete_btn" class="btn-flat waves-effect white-text">Delete</a>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        <form action="{{ url('roadmap', args=[id]) }}" method="POST" class="col s12">
            {{ csrf_input }}
            <div class="input-field">
                <input placeholder="Title" id="title" name="title" type="text" required>
                <label for="title">Title</label>
            </div>
            <div class="input-field">
                <input type="date" id="estimate" name="estimate" class="datepicker" required
                {% if ready %} disabled {% endif %}>
                <label for="estimate">Estimate</label>
            </div>
            <button id="submit_btn" type="submit" class="btn waves-effect waves-light deep-orange accent-2 right disabled">Add task</button>
        </form>
    </div>
    <div class="collection">
    {% for t in tasks %}
        <a href="{{ url('task', args=[id, t.id]) }}"
        {% if t.ready %}
        class="collection-item light-blue-text text-darken-4 green lighten-4"
        {% elif t.is_failed %}
        class="collection-item light-blue-text text-darken-4 red lighten-4"
        {% else %}
        class="collection-item light-blue-text text-darken-4"
        {% endif %}
        >{{ t.title }}</a>
    {% endfor %}
    </div>
    <div id="modal_stat" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Roadmap weekly stats</h4>
            <canvas id="weekly_chart" width="100%" height="32rem"></canvas>
            <table class="striped">
                <thead><tr>
                    <th>Week</th>
                    <th>Dates</th>
                    <th>New</th>
                    <th>Ready</th>
                </tr></thead>
                <tbody id="weekly_stat"></tbody>
            </table>

            <h4>Roadmap monthly stats</h4>
            <canvas id="monthly_chart" width="100%" height="32rem"></canvas>
            <table class="striped">
                <thead><tr>
                    <th>Date</th>
                    <th>Scores</th>
                </tr></thead>
                <tbody id="monthly_stat"></tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% if debug %}
<script type="text/javascript" src="/static/js/moment.js"></script>
<script type="text/javascript" src="/static/js/Chart.js"></script>
{% else %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endif %}

{{ insert_pickadate() }}
<script>
    $(document).ready(function(){
        Chart.defaults.global.defaultFontFamily = 'Roboto, sans-serif';
        Chart.defaults.global.elements.line.borderWidth = 1;
        Chart.defaults.scale.ticks.beginAtZero = true;

        $('.modal').modal({
            ready: function(modal, trigger) {
                loadStat(trigger[0].getAttribute("stat-url"));
            }
        });
    });
</script>
{% endblock %}
