{% extends "_template.html" %}
{% block title %} Roadmaps list {% endblock %}

{% block content %}
    <div class="row">
        <form action="#" class="col s12">
            <div class="input-field">
                <input placeholder="Title" id="title" type="text">
                <label for="title">Title</label>
            </div>
            <button class="btn waves-effect waves-light deep-orange accent-2 right" type="submit" name="action">New roadmap</button>
        </form>
    </div>
    {% for r in roadmaps %}
    <div class="collection">
        <a href="{{ url('roadmap', args=[r.id]) }}" class="collection-item light-blue-text text-darken-4">{{ r.title }}</a>
    </div>
    {% endfor %}
{% endblock %}
