{% from "_template.html" import insert_pickadate %}
{% extends "_template.html" %}
{% block title %} Roadmap: {{ title }} {% endblock %}

{% block navbar %}
<div class="col s12">
    <a href="{{ url('roadmaps') }}" class="breadcrumb">Roadmaps</a>
    <a href="{{ url('roadmap', args=[id]) }}" class="breadcrumb">{{ title }}</a>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        <form action="{{ url('roadmap', args=[id]) }}" method="POST" class="col s12">
            {{ csrf_input }}
            <div class="input-field">
                <input placeholder="Title" id="title" name="title" type="text" required>
                <label for="title">Title</label>
            </div>
            <input type="date" name="estimate" class="datepicker" required>
            <button id="submit_btn" class="btn waves-effect waves-light deep-orange accent-2 right disabled" type="submit">Add task</button>
        </form>
    </div>
    <div class="collection">
    {% for t in tasks %}
        <a href="{{ url('task', args=[id, t.id]) }}"
        {% if t.ready %}
        class="collection-item light-blue-text text-darken-4 green lighten-4"
        {% elif t.is_failed %}
        class="collection-item light-blue-text text-darken-4 red lighten-4"
        {% else %}
        class="collection-item light-blue-text text-darken-4"
        {% endif %}
        >{{ t.title }}</a>
    {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ insert_pickadate() }}
{% endblock %}
